.container {
  background-color: #f9fafb;
  min-height: 100vh;
  overflow-y: hidden;
} /* منع السكرول الخارجي */

.topHeader {
  background-color: #333cf5;
  color: white;
  padding: 20px 50px; /* تصغير الـ padding */
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 0 0 30px 30px;
}
.headerIcon {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}
.headerInfo h2 {
  font-size: 20px;
  margin: 0;
}
.headerInfo p {
  font-size: 12px;
  margin: 0;
  opacity: 0.8;
}

.layoutBody {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 30px;
  padding: 25px 50px;
}

.uploadBox {
  background: #eff1ff;
  border: 2px dashed #333cf5;
  border-radius: 20px;
  padding: 30px 15px;
  text-align: center;
  color: #333cf5;
  cursor: pointer;
}
.uploadCircle {
  background: white;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-size: 20px;
}

.formCard {
  background: white;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.02);
}
.infoTitle {
  color: #333cf5;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 25px;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.inputCell label {
  font-size: 13px;
  font-weight: 600;
}
.req {
  color: #ef4444;
}

.iconBox {
  display: flex;
  align-items: center;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 0 12px;
  gap: 10px;
  margin-top: 5px;
}
.iconBox input {
  border: none;
  background: transparent;
  padding: 10px 0;
  width: 100%;
  outline: none;
  font-size: 13px;
}

.radioLabel {
  border: 1px solid #e5e7eb;
  padding: 10px 40px;
  border-radius: 14px;
  font-size: 13px;
  cursor: pointer;
}
.femaleActive {
  background: #e91e63 !important;
  color: white !important;
  border: none;
  padding: 10px 40px;
  border-radius: 14px;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}
.maleActive {
  background: #333cf5 !important;
  color: white !important;
  border: none;
  padding: 10px 40px;
  border-radius: 14px;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}

.formActions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 15px 50px;
  border-top: 1px solid #eee;
  background: white;
}
.saveBtn {
  background: #333cf5;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}
.deleteBtn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}
