/* Sidebar.module.css */

.sidebarContainer {
  display: flex;
  flex-direction: column;
  height: 200px !important;
  padding: 24px 16px;

  background-color: white;
  border-radius: 24px;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  color: rgba(51, 60, 245, 0.5); /* اللون الرمادي في حالة الثبات */
  font-size: 14px;
  font-weight: 700; /* font-bold */
  transition: all 0.3s ease;
  text-decoration: none;
}

/* عندما يكون الرابط نشطاً */
.activeLink {
  color: #333cf5 !important; /* اللون الأزرق للنص والأيقونة */
}

/* رسم العلامة الزرقاء المنحنية (Indicator) من الصورة */
.activeLink::before {
  content: "";
  position: absolute;
  left: -16px; /* لتلتصق بحافة السايد بار تماماً */
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 35px;
  background-color: #333cf5;
  border-radius: 0 10px 10px 0; /* الانحناء المطلوب */
  box-shadow: 2px 0 10px rgba(51, 60, 245, 0.3);
}

.link:hover:not(.activeLink) {
  background-color: #f9fafb;
  border-radius: 12px;
  color: #333df588;
}

.icon {
  font-size: 24px;
}

.logoutBtn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  color: #333df585; /* red-500 */
  font-weight: 700;
  transition: all 0.2s;
  background: transparent;
  border: none;
  cursor: pointer;
}
