@reference "../../../../index.css";

/* أنيميشن خفيف لرائد الفضاء عشان يبان إنه بيعوم في الفضاء */
.astronautFloat {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
